@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: black;
}

.nav {
    background-color: crimson;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
    margin-left: 82%;
}

.nav ul li {
    font-weight: 600;
    color: red;
    background-color: black;
    padding: 5px;
    margin: 0 10px;
    text-align: center;
    font-size: 17px;
    border-radius: 10px;
}

.nav ul li a {
    color: red;
    text-decoration: none;
}

.nav ul li a i {
    padding: 2px;
}

.contents h2 {
    color: black;
    background: aqua;
    margin: 15px 40%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.contents h2 i {
    margin: 0 5px;
}

.contents .popular {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 15%;
}

.contents .popular .popular-items {
    margin: 20px;
    background-color: darkred;
    width: 220px;
    height: fit-content;
}

.contents .popular .popular-items a {
    text-decoration: none;
}

.contents .popular .popular-items img {
    width: 220px;
    height: 320px;
}

.contents .popular .popular-items h3 {
    color: chartreuse;
    padding: 3px 5px;
}

.contents .new-uploads {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 15%;
}

.contents .new-uploads .new-uploads-items {
    margin: 20px;
    width: 220px;
    background-color: darkred;
}

.contents .new-uploads .new-uploads-items a {
    text-decoration: none;
}

.contents .new-uploads .new-uploads-items a img {
    width: 220px;
}

.contents .new-uploads .new-uploads-items h3 {
    color: chartreuse;
    text-align: center;
    margin-top: 5px;
}

.pagination {
    background: aliceblue;
    border-radius: 20px;
    margin-top: 30px;
    margin: 40px auto;
    height: 40px;
    padding: 20px;
    width: 740px;
    overflow: hidden;
}

.pagination .pagination-list {
    display: flex;
    list-style: none;
}

.pagination .pagination-list .pagination-list-items {
    margin: 0 10px;
    background: black;
    padding: 10px;
    border-radius: 20px;
}

.pagination .pagination-list .pagination-list-items a {
    text-decoration: none;
    color: red;
}

/*! Reading Page */
.swiper {
    width: 85%;
    height: 100%;
    background-color: black;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 30%;
    object-fit: cover;
}

.details {
    display: flex;
    background-color: black;
    margin: 10px 23% 55px;
    padding: 20px;
    width: 1150px;
}

.details .img-div img {
    width: 270px;
}

.details .info-text {
    margin-left: 5%;
}

.details .info-text h3 {
    margin: 12px 0;
    color: aqua;
}

.details .info-text ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.details .info-text ul li {
    margin: 10px 5px;
}

.details .info-text ul li a {
    text-decoration: none;
    color: red;
    background-color: white;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
}

/* .reading-images {
    margin-left: 23%;
} */

.reading-images .image-slide {
    text-align: center;
    margin: 0 auto;
}

.reading-images .image-slide img {
    width: 750px;
}

/*! Tags Page */
.tags-container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 10%;
    padding-left: 35px;
}

.tags-container .container-items {
    margin: 15px;
    background-color: coral;
    padding: 0;
    border-radius: 10px;
}

.tags-container .container-items a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.tags-container .container-items a h4 {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.tags-container .container-items a .count {
    background-color: floralwhite;
    padding: 7px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
}

.tags-pagination {
    margin: 0 40%;
}

.tags-pagination ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.tags-pagination ul li {
    background-color: aqua;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 40px;
    text-align: center;
    font-weight: 700;
}

.tags-pagination ul li:hover {
    cursor: pointer;
}

.tags-pagination ul li a {
    text-decoration: none;
    color: black;
}

.active-page {
    background-color: blueviolet;
}

@media (max-width: 370px) {
    .nav {
        width: 103%;
        padding: 7px 27px 7px 9px;
    }

    .nav h1 {
        font-size: 25px;
    }

    .nav ul {
        margin-left: 42%;
    }

    .nav ul li {
        padding: 4px;
        font-size: 13px;
        margin: 0 5px;
    }

    .contents h2 {
        margin: 6px 21% 6px 37%;
        font-size: 16px;
    }

    .contents .popular,
    .contents .new-uploads {
        margin: 10px 1%;
        width: 100%;
    }

    .contents .popular .popular-items,
    .contents .new-uploads .new-uploads-items {
        margin: 10px;
        width: 150px;
        height: 270px;
        overflow: scroll;
    }

    .contents .popular .popular-items::-webkit-scrollbar,
    .contents .new-uploads .new-uploads-items::-webkit-scrollbar {
        display: none;
    }

    .contents .popular .popular-items a img {
        width: 200px;
        height: 253px;
    }

    .contents .new-uploads .new-uploads-items a img {
        width: 150px;
    }

    .contents .popular .popular-items h3,
    .contents .new-uploads .new-uploads-items h3 {
        font-size: 14px;
    }

    .pagination {
        display: none;
    }

    /*! Reading Page */
    .details {
        margin: 10px 2%;
        padding: 0;
        width: 360px;
    }

    .details .info-text {
        margin-left: 1%;
    }

    .details .info-text h3:nth-child(2) {
        display: none;
    }

    .details .img-div img {
        width: 120px;

    }

    .reading-images .image-slide img {
        width: 365px;
    }
}