{% include 'header.html' %}
<div class="contents">
      <h2><i class="bx bxs-hot"></i>Popular Posts</h2>
      <div class="popular">
        {% for popular in page_details["popular_now"] %}
        <div class="popular-items">
          <a href="{{popular['page_link']}}">
            <img src="{{popular['img']}}" alt="" />
            <h3>{{popular['title']}}</h3>
          </a>
        </div>
        {% endfor %}
      </div>

      <h2><i class="bx bxs-book-content"></i>New Uploads</h2>
      <div class="new-uploads">
        {% for new in page_details['new_uploads'] %}
        <div class="new-uploads-items">
          <a href="{{new['page_link']}}">
            <img src="{{new['img']}}" alt="" />
            <h3>{{new['title']}}</h3>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="pagination">
      <ul class="pagination-list">
        {% for list in page_details['pagination'] %}
        <li class="pagination-list-items">
          <a href="{{list['link']}}">{{list['text']}}</a>
        </li>
        {% endfor %}
        <i class="fa fa-chevron-right">…</i>
      </ul>
    </div>
  </body>
</html>
